<div class="recipe-body">
	<div>
		<h2 class="primary-header">{{title}}</h2>
		<img class="recipe-pic" src={{imageUrl}}>
	</div>
	<div>
		<a class="btn btn-secondary btn-sm" target="blank" href="{{link}}" download="recipe">Download Image</a>
	</div>

	<h4 class="secondary-header">Ingredients</h4>
	<p class="note">*click ingredients to look them up</p>
	<ul>
		{{#each ingredients}}
		<li><a class="ingredient" target="blank" href="https://en.wikipedia.org/wiki/{{this.name}}">{{this.original}}</a></li>
		{{/each}}
	</ul>

	<h4 class="secondary-header">Instructions</h4>
	<ul>
		{{#each instructions}}
		<li class="instruction">Step {{this.number}}: {{this.step}}</li>
		{{/each}}
	</ul>

	<button onclick="goBack()" class="btn btn-primary">Go Back</button>
</div>